services:
  web-app:
    build: .
    container_name: web-app
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "3000:3000"
    networks:
      - app-network

networks:
  app-network:
    external: true
